%h1 rbot is a powerful IRC bot written in ruby.

%p rbot is designed around a flexible plugin system and is not only easy to extend, but it already includes many useful plugins. Some of the powerful features include:

%ul
  %li Runtime configuration via irc
  %li Flexible authentication and permission system
  %li Multi-language support
  %li Plugin architecture that makes <a href="">writing new plugins</a> a breeze
  %li Integrated <a href="">web service</a>
  %li <strong>Batteries included</strong>: plugins for rss, twitter, imdb, translations, weather, notifications, lots of games and many more (over 70 plugins included)


%h2#Install Install
%h2#Support Support
%h2#License License

